.requestCredentialButton {
    cursor: pointer;
    position: absolute;
    z-index: 1000000000;
    border: none;
    background-size: 100%;
    background-color: white;
    opacity: 90%;
}


.dimension-24 {
    background-image: url("/icons/anotherpass-24.png");
}


.dimension-32 {
    background-image: url("/icons/anotherpass-32.png");
}


.dimension-48 {
    background-image: url("/icons/anotherpass-48.png");
}

.credential_popup {
    height:100%;
    width: 100%:
}

.close_button_position {
    position:absolute; 
    top:5px; 
    right:5px;
}

.close_button_style {
    padding: 8px 12px; 
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
}