.requestCredentialButton {
    cursor: pointer;
    position: absolute;
    z-index: 1000000000;
    border: none;
    background-size: 100%;
    background-color: white;
    opacity: 90%;
}


.dimension-24 {
    background-image: url("/icons/anotherpass-24.png");
}


.dimension-32 {
    background-image: url("/icons/anotherpass-32.png");
}


.dimension-48 {
    background-image: url("/icons/anotherpass-48.png");
}