
:root{
  --bg-color: #f6f3f2;;
}


.centered{
  align-items: center;
  text-align: center;
}

.fingerprint{
  font-family: 'Roboto Mono Bold',monospace;
  font-size: 24px;
  font-weight: 900;
}


.fingerprint_small{
  font-family: 'Roboto Mono Bold',monospace;
  font-size: 14px;
  font-weight: 900;
}

